.image-box-plugin{
	position:fixed;
	top:0px;
	left:0px;
	text-align: center;
	width: 100%;
	height:100%;
	background-color: #000;
	z-index:999;
	display: none;
}
.image-box-plugin img{
	width: auto;
	max-width: 100%;
	margin:0 auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
